In [46]:
import   pandas   as  pd
import   numpy   as  np
from  sklearn  import  linear_model

In [56]:
dataset = pd.read_csv('Air_Data.csv')
dataset

,No,year,month,day,hour,PM2,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,4.0,4.0,4.0,7.0,300.0,77.0,-0.7,1023.0,-18.8,0.0,NNW,4.4,Aotizhongxin
1,2,2013,3,1,1,8.0,8.0,4.0,7.0,300.0,77.0,-1.1,1023.2,-18.2,0.0,N,4.7,Aotizhongxin
2,3,2013,3,1,2,7.0,7.0,5.0,10.0,300.0,73.0,-1.1,1023.5,-18.2,0.0,NNW,5.6,Aotizhongxin
3,4,2013,3,1,3,6.0,6.0,11.0,11.0,300.0,72.0,-1.4,1024.5,-19.4,0.0,NW,3.1,Aotizhongxin
4,5,2013,3,1,4,3.0,3.0,12.0,12.0,300.0,72.0,-2.0,1025.2,-19.5,0.0,N,2.0,Aotizhongxin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,35060,2017,2,28,19,12.0,29.0,5.0,35.0,400.0,95.0,12.5,1013.5,-16.2,0.0,NW,2.4,Aotizhongxin
35060,35061,2017,2,28,20,13.0,37.0,7.0,45.0,500.0,81.0,11.6,1013.6,-15.1,0.0,WNW,0.9,Aotizhongxin
35061,35062,2017,2,28,21,16.0,37.0,10.0,66.0,700.0,58.0,10.8,1014.2,-13.3,0.0,NW,1.1,Aotizhongxin
35062,35063,2017,2,28,22,21.0,44.0,12.0,87.0,700.0,35.0,10.5,1014.4,-12.9,0.0,NNW,1.2,Aotizhongxin
35063,35064,2017,2,28,23,19.0,31.0,10.0,79.0,600.0,42.0,8.6,1014.1,-15.9,0.0,NNE,1.3,Aotizhongxin

In [49]:
dataset.year

0        2013
1        2013
2        2013
3        2013
4        2013
         ...
35059    2017
35060    2017
35061    2017
35062    2017
35063    2017
Name: year, Length: 35064, dtype: int64

In [57]:
dataset.isnull().any()

No         False
year       False
month      False
day        False
hour       False
PM2         True
PM10        True
SO2         True
NO2         True
CO          True
O3          True
TEMP        True
PRES        True
DEWP        True
RAIN        True
wd          True
WSPM        True
station    False
dtype: bool

# CHECKING NULL

In [58]:
dataset.isnull().sum()

No            0
year          0
month         0
day           0
hour          0
PM2         925
PM10        718
SO2         935
NO2        1023
CO         1776
O3         1719
TEMP         20
PRES         20
DEWP         20
RAIN         20
wd           81
WSPM         14
station       0
dtype: int64

# FILL UP  NULL  VALUES  WITH  MEDIAN

In [105]:
PM2_median = dataset.PM2.median()
PM2_median

61.0

In [106]:
dataset.PM2 = dataset.PM2.fillna(PM2_median)
dataset.PM2.isnull().sum()

0

In [107]:
PM10_median = dataset.PM10.median()
PM10_median

87.0

In [108]:
dataset.PM10 = dataset.PM10.fillna(PM10_median)
dataset.PM10.isnull().sum()

0

In [109]:
SO2_median = dataset.SO2.median()
SO2_median

9.0

In [110]:
dataset.SO2 = dataset.SO2.fillna(SO2_median)
dataset.SO2.isnull().sum()

0

In [111]:
NO2_median = dataset.NO2.median()
NO2_median

53.0

In [112]:
dataset.NO2 = dataset.NO2.fillna(NO2_median)
dataset.NO2.isnull().sum()

0

In [113]:
CO_median = dataset.CO.median()
CO_median

53.0

In [118]:
dataset.CO = dataset.CO.fillna(CO_median)
dataset.CO.isnull().sum()

0

In [115]:
O3_median = dataset.O3.median()
O3_median

53.0

In [119]:
dataset.O3 = dataset.O3.fillna(O3_median)
dataset.O3.isnull().sum()

0

In [122]:
TEMP_median = dataset.TEMP.median()
TEMP_median

53.0

In [123]:
dataset.TEMP = dataset.TEMP.fillna(TEMP_median)
dataset.TEMP.isnull().sum()

0

In [124]:
PRES_median = dataset.PRES.median()
PRES_median

1011.4

In [125]:
dataset.PRES = dataset.PRES.fillna(PRES_median)
dataset.PRES.isnull().sum()

0

In [126]:
DEWP_median = dataset.DEWP.median()
DEWP_median

3.8

In [127]:
dataset.DEWP = dataset.DEWP.fillna(DEWP_median)
dataset.DEWP.isnull().sum()

0

In [128]:
RAIN_median = dataset.RAIN.median()
RAIN_median

3.8

In [129]:
dataset.RAIN = dataset.RAIN.fillna(RAIN_median)
dataset.RAIN.isnull().sum()

0

In [133]:
WSPM_median = dataset.WSPM.median()
WSPM_median

1.4

In [134]:
dataset.WSPM = dataset.WSPM.fillna(WSPM_median)
dataset.WSPM.isnull().sum()

0

In [136]:
dataset.drop(columns=['wd'])

,No,year,month,day,hour,PM2,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM,station
0,1,2013,3,1,0,4.0,4.0,4.0,7.0,7.0,7.0,7.0,1023.0,-18.8,-18.8,4.4,Aotizhongxin
1,2,2013,3,1,1,8.0,8.0,4.0,7.0,7.0,7.0,7.0,1023.2,-18.2,-18.2,4.7,Aotizhongxin
2,3,2013,3,1,2,7.0,7.0,5.0,10.0,10.0,10.0,10.0,1023.5,-18.2,-18.2,5.6,Aotizhongxin
3,4,2013,3,1,3,6.0,6.0,11.0,11.0,11.0,11.0,11.0,1024.5,-19.4,-19.4,3.1,Aotizhongxin
4,5,2013,3,1,4,3.0,3.0,12.0,12.0,12.0,12.0,12.0,1025.2,-19.5,-19.5,2.0,Aotizhongxin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,35060,2017,2,28,19,12.0,29.0,5.0,35.0,35.0,35.0,35.0,1013.5,-16.2,-16.2,2.4,Aotizhongxin
35060,35061,2017,2,28,20,13.0,37.0,7.0,45.0,45.0,45.0,45.0,1013.6,-15.1,-15.1,0.9,Aotizhongxin
35061,35062,2017,2,28,21,16.0,37.0,10.0,66.0,66.0,66.0,66.0,1014.2,-13.3,-13.3,1.1,Aotizhongxin
35062,35063,2017,2,28,22,21.0,44.0,12.0,87.0,87.0,87.0,87.0,1014.4,-12.9,-12.9,1.2,Aotizhongxin
35063,35064,2017,2,28,23,19.0,31.0,10.0,79.0,79.0,79.0,79.0,1014.1,-15.9,-15.9,1.3,Aotizhongxin

In [139]:
dataset

,No,year,month,day,hour,PM2,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,4.0,4.0,4.0,7.0,7.0,7.0,7.0,1023.0,-18.8,-18.8,NNW,4.4,Aotizhongxin
1,2,2013,3,1,1,8.0,8.0,4.0,7.0,7.0,7.0,7.0,1023.2,-18.2,-18.2,N,4.7,Aotizhongxin
2,3,2013,3,1,2,7.0,7.0,5.0,10.0,10.0,10.0,10.0,1023.5,-18.2,-18.2,NNW,5.6,Aotizhongxin
3,4,2013,3,1,3,6.0,6.0,11.0,11.0,11.0,11.0,11.0,1024.5,-19.4,-19.4,NW,3.1,Aotizhongxin
4,5,2013,3,1,4,3.0,3.0,12.0,12.0,12.0,12.0,12.0,1025.2,-19.5,-19.5,N,2.0,Aotizhongxin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,35060,2017,2,28,19,12.0,29.0,5.0,35.0,35.0,35.0,35.0,1013.5,-16.2,-16.2,NW,2.4,Aotizhongxin
35060,35061,2017,2,28,20,13.0,37.0,7.0,45.0,45.0,45.0,45.0,1013.6,-15.1,-15.1,WNW,0.9,Aotizhongxin
35061,35062,2017,2,28,21,16.0,37.0,10.0,66.0,66.0,66.0,66.0,1014.2,-13.3,-13.3,NW,1.1,Aotizhongxin
35062,35063,2017,2,28,22,21.0,44.0,12.0,87.0,87.0,87.0,87.0,1014.4,-12.9,-12.9,NNW,1.2,Aotizhongxin
35063,35064,2017,2,28,23,19.0,31.0,10.0,79.0,79.0,79.0,79.0,1014.1,-15.9,-15.9,NNE,1.3,Aotizhongxin

In [140]:
dataset.isnull().sum()

No          0
year        0
month       0
day         0
hour        0
PM2         0
PM10        0
SO2         0
NO2         0
CO          0
O3          0
TEMP        0
PRES        0
DEWP        0
RAIN        0
wd         81
WSPM        0
station     0
dtype: int64